#fullpage {
    height: 80vh !important;
}

.fill {
    min-height: 100%;
    height: 100%;
}

#img-me {
    width: 200px;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #343a40 transparent transparent;
}

.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #343a40;
}